[submodule "catkin_dependencies/tensorflow_catkin"]
	path = catkin_dependencies/tensorflow_catkin
	url = https://github.com/ethz-asl/tensorflow_catkin
[submodule "catkin_dependencies/protobuf_catkin"]
	path = catkin_dependencies/protobuf_catkin
	url = https://github.com/Skydes/protobuf_catkin
	branch = tensorflow_compatible
[submodule "catkin_dependencies/eigen_catkin"]
	path = catkin_dependencies/eigen_catkin
	url = https://github.com/Skydes/eigen_catkin
	branch = tensorflow-compatible
[submodule "catkin_dependencies/maplab"]
	path = catkin_dependencies/maplab
	url = https://github.com/ethz-asl/maplab
	branch = pre_release_public/july-2018
[submodule "catkin_dependencies/maplab_dependencies"]
	path = catkin_dependencies/maplab_dependencies
	url = https://github.com/ethz-asl/maplab_dependencies
	branch = pre_release_public/july-2018
